
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --green:#00ff66;
    --red:#ff3333;
    --dark:#050505;
    --card:#111111;
    --text:#ffffff;
    --gray:#cfcfcf;
}

/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

/* CYBER BACKGROUND */

body{
    background-image: url("010101.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color:white;
    background:
    linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.9)
    ),
    url("010101.avif");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color:white;
}



/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:16px 6%;

    background:rgba(0,0,0,.90);
    backdrop-filter:blur(10px);

    border-bottom:1px solid rgba(0,255,102,.25);

    box-shadow:
    0 0 10px rgba(0,255,102,.15);
}

/* LOGO */

.logo{
    font-size:34px;
    font-family:'Orbitron',sans-serif;
    font-weight:900;

    color:#00ff66 !important;

    
}

.logo span{
    color:#ff3333 !important;

    
}
/* MENU */

.menu{
    display:flex;
    align-items:center;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;
}

.nav-links li{
    position:relative;
}

.nav-links li a{
    color:#ffffff;
    text-decoration:none;
    font-size:15px;
    font-weight:500;
    letter-spacing:.5px;
    transition:.3s ease;
}

/* Hover Effect */

.nav-links li a:hover{
    color:#00ff66;
}

/* Neon Underline */

.nav-links li a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;

    background:linear-gradient(
        90deg,
        #00ff66,
        #ff3333
    );

    transition:.4s;
}

.nav-links li a:hover::after{
    width:100%;
}

/* Login Button */

.login-btn{
    background:linear-gradient(
        135deg,
        #00ff66,
        #00cc55
    );

    color:#000 !important;
    padding:10px 22px;
    border-radius:8px;
    font-weight:700;

    box-shadow:
    0 0 10px rgba(0,255,102,.5);

    transition:.3s;
}

.login-btn:hover{
    background:linear-gradient(
        135deg,
        #ff3333,
        #cc0000
    );

    color:#fff !important;

    box-shadow:
    0 0 15px rgba(255,51,51,.5);

    transform:translateY(-2px);
}

/* Login Button se underline remove */

.login-btn::after{
    display:none;
}

/* Mobile */

@media(max-width:768px){

.nav-links{
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.nav-links li a{
    font-size:14px;
}

.login-btn{
    padding:8px 16px;
}

}

/* Login Button */

.login-btn{
    background:
    linear-gradient(
        135deg,
        #00ff66,
        #00cc55
    );

    color:#000 !important;

    padding:10px 22px;

    border-radius:8px;

    font-weight:700;

    box-shadow:
    0 0 10px rgba(0,255,102,.5);

    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-2px);

    background:
    linear-gradient(
        135deg,
        #ff3333,
        #cc0000
    );

    color:#fff !important;

    box-shadow:
    0 0 15px rgba(255,51,51,.5);
}

/* Remove underline from login button */

.login-btn::after{
    display:none;
}

/* HERO TITLE */

.hero{
    min-height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.8)
    ),
    url("../images/1010.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:70px;
    font-family:'Orbitron',sans-serif;
    font-weight:900;

    color:#00ff66;

    text-shadow:
    0 0 1px #00ff66,
    0 0 80px #00ff66,
    0 0 60px #00ff66;

    
}

.hero h1 span{
    color:#ff3333;

    text-shadow:
    0 0 1px #e20f0f,
    0 0 80px #e20f0f,
    0 0 60px #e20f0f;
}

/* SECTION TITLES */

.section-title{
    color:#00ff66;

    text-shadow:
    0 0 5px #00ff66,
    0 0 10px #00ff66,
    0 0 20px #00ff66;
}

/* RED CARD TITLES */

.card h3{

    text-shadow:
    0 0 2px rgb(240, 12, 12);
}

/* GREEN STATS */

.stat-box h2{
    color:#00ff66;

    text-shadow:
    0 0 10px #00ff66,
    0 0 20px #00ff66;
}

/* NAVBAR */

.navbar{
    border-bottom:2px solid #00ff66;

    box-shadow:
    0 0 15px rgba(0,255,102,.5);
}

/* FOOTER */

footer{
    border-top:2px solid #ff3333;
}


.navbar ul{
    list-style:none;
    display:flex;
    gap:22px;
}

.navbar ul li a{
    text-decoration:none;
    color:white;
    font-size:15px;
    transition:.3s;
}

.navbar ul li a:hover{
    color:var(--green);
}

/* HERO */

.hero{
    min-height:85vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:120px 20px 60px;
}

.hero-content{
    max-width:900px;
}

.hero h1{
    font-size:68px;
    line-height:1.1;

    font-family:'Orbitron',sans-serif;
    font-weight:900;

    color:rgb(41, 247, 14);

}

.hero h1 span{
    color:red;

    
}

.hero p{
    margin:20px auto;
    max-width:700px;

    font-size:20px;
    color:#ffffff;

    line-height:1.8;
}

/* BUTTONS */

.btn{
    display:inline-block;

    margin:10px;
    padding:12px 28px;

    border-radius:8px;

    text-decoration:none;
    font-weight:600;

    transition:.3s;
}

.btn-green{
    background:rgb(21, 243, 21);
    color:black;

    box-shadow:
    0 0 10px rgb(10, 235, 48);
}

.btn-red{
    background:red;
    color:black;

    box-shadow:
    0 0 10px rgba(231, 6, 6, 0.952);
}

.btn:hover{
    transform:translateY(-4px);
}

/* SECTIONS */

section{
    padding:70px 6%;
}

.section-title{
    text-align:center;

    font-size:38px;
    margin-bottom:40px;

    color:var(--green);

    font-family:'Orbitron',sans-serif;

    text-shadow:
    0 0 10px rgba(0,255,102,.4);
}

/* GRID */

.grid{
    color: #f71515;
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:20px;
}

/* CARDS */

.card{
       background:
    linear-gradient(
        135deg,
        
    );

    color:#eb2a08 !important;
    
    padding:10px 22px;

    border-radius:8px;

    font-weight:700;

    box-shadow:
    0 0 10px rgba(0,255,102,.5);

    transition:.3s;


    border:1px solid rgba(0,255,102,.15);

    border-radius:15px;

    padding:25px;

    transition:.4s;
}

.card:hover{
    transform:translateY(-6px);

    border-color:var(--green);

    box-shadow:
    0 0 15px rgba(0,255,102,.25);
}

.card h3{
    color:var(--red);
    margin-bottom:12px;
}

.card p{
    color:#d5d5d5;
    line-height:1.7;
}

.page-title{
    text-align:center;
    margin-top:12px;
    font-size:50px;
    color:#00ff66;
    font-family:'Orbitron',sans-serif;

    text-shadow:
    0 0 10px #00ff66,
    0 0 20px #00ff66;
}



.page-subtitle{
    text-align:center;
    color:#ccc;
    margin-bottom:40px;
    margin-top: 10px;
    font-size: 20px;
}

.pdf-library{
    padding:40px 6%;
}

.card .btn{
    
    margin-top:15px;
    display:inline-block;
}

/* STATS */

.stats{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:20px;
}

.stat-box{
    background:#111;

    border:1px solid rgba(255,51,51,.20);

    border-radius:15px;

    padding:25px;

    text-align:center;
}

.stat-box h2{
    color:var(--green);
    font-size:42px;
}

.stat-box p{
    color:#ddd;
}

/* =========================
   CYBER GLASS FORM
========================= */

.form-container{
    width:450px;
    max-width:95%;

    margin:100px auto;

    padding:35px;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(0,255,102,0.25);

    border-radius:20px;

    box-shadow:
    0 0 20px rgba(0,255,102,0.15),
    0 0 40px rgba(0,255,102,0.05);

    transition:.4s ease;
}

.form-container:hover{
    border-color:#00ff66;

    box-shadow:
    0 0 25px rgba(0,255,102,0.3),
    0 0 50px rgba(0,255,102,0.1);
}

.form-container h2{
    text-align:center;
    margin-bottom:25px;

    font-size:30px;
    font-weight:700;

    color:#00ff66;

    text-shadow:
    0 0 10px rgba(0,255,102,.5);
}

/* INPUTS */

input,
textarea{
    width:100%;

    padding:15px;

    margin-bottom:18px;

    background:rgba(255,255,255,0.04);

    border:1px solid rgba(255,255,255,0.12);

    border-radius:10px;

    color:#fff;

    font-size:15px;

    transition:.3s;
}

input::placeholder,
textarea::placeholder{
    color:#aaa;
}

input:focus,
textarea:focus{
    outline:none;

    border-color:#00ff66;

    background:rgba(255,255,255,0.08);

    box-shadow:
    0 0 10px rgba(0,255,102,.3);
}

/* BUTTON */

button{
    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    font-size:16px;
    font-weight:700;

    cursor:pointer;

    background:linear-gradient(
        135deg,
        #ff3333,
        #cc0000
    );

    color:white;

    transition:.3s;
}

button:hover{
    background:linear-gradient(
        135deg,
        #00ff66,
        #00cc55
    );

    color:black;

    box-shadow:
    0 0 15px rgba(0,255,102,.5);

    transform:translateY(-2px);
}

/* FOOTER */

footer{
    text-align:center;

    padding:30px;

    background:rgba(0,0,0,0.6);

    backdrop-filter:blur(10px);

    border-top:1px solid rgba(255,51,51,.3);
}

footer p{
    color:#bdbdbd;
    font-size:14px;
}
/* MOBILE */

@media(max-width:768px){

.hero h1{
    font-size:42px;
}

.hero p{
    font-size:16px;
}

.section-title{
    font-size:30px;
}

.navbar{
    flex-direction:column;
    gap:15px;
}

.navbar ul{
    flex-wrap:wrap;
    justify-content:center;
}

}
.about-page{
    padding-top:140px;
    text-align:center;
}

.page-title{
    font-size:55px;
    color:#00ff66;
    font-family:'Orbitron',sans-serif;

    text-shadow:
    0 0 10px #00ff66,
    0 0 20px #00ff66;
}

.page-subtitle{
    max-width:700px;
    margin:20px auto;
    color:#d5d5d5;
    line-height:1.8;
}

.about-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    align-items:center;
}

.about-left h2{
    color:#ff3333;
    margin-bottom:20px;
}

.about-left p{
    color:#d5d5d5;
    line-height:1.8;
    margin-bottom:15px;
}

.about-right{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.about-box{
    padding:30px;
    border-radius:15px;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(0,255,102,.2);

    text-align:center;
}

.about-box h3{
    color:#00ff66;
    font-size:35px;
}

.about-box p{
    color:#ddd;
}

@media(max-width:768px){

.about-container{
    grid-template-columns:1fr;
}

.about-right{
    grid-template-columns:1fr 1fr;
}

.page-title{
    font-size:40px;
}

}
